.btn-primary{
    background-color: rgb(21, 151, 238);
    color: white;
    text-align: center;
    height: 50px;
    border-radius: 30%;
    width: 200px;
}


.btn-secondary{
    background-color: rgb(238, 158, 21);
    color: white;
    text-align: center;
    height: 50px;
    border-radius: 30%;
    width: 200px;
}


