@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: roboto;
  margin-left: 30px;
  margin-right: 30px; }

nav {
  display: flex;
  flex-direction: row;
  background-color: #0d0d48;
  border-radius: 10%;
  margin-bottom: 40px; }

header li {
  display: inline-block;
  list-style: none;
  padding-left: 15px; }

header a {
  text-decoration: none;
  color: white;
  font-style: italic; }

#content {
  position: absolute; }

#sidebar {
  position: sticky;
  float: right;
  width: 200px; }

aside li {
  list-style: none;
  border-bottom: dotted 2px black;
  padding-bottom: 20px; }

footer {
  background-color: #377ccb;
  height: 50px;
  margin-top: 650px; }

main {
  display: flex;
  flex-direction: row; }

article {
  margin-left: 100px;
  margin-right: 350px; }

button {
  background-color: orange;
  width: 70px;
  height: 40px;
  color: white; }

a {
  font-style: italic;
  color: orange;
  text-decoration: none; }
