body{
    background-color: rgb(94, 94, 250);
}

section{
   display: flex;
   flex-direction: column;
}

#Budget{
    margin: 0 auto;
    font-size: 1.4rem;
    background-color: aliceblue;
    width: 500px;
    text-align: center;
}

button{
    margin: 0 auto;
    width: 500px;
    height: 50px;
    background-image: linear-gradient(to right top, #000000, #1e191f, #252e3e, #1b4856, #1e625e);
    color: white;
    font-weight: bold;
}

div{
    margin: 0 auto;
}

