#content{
    position: absolute;
}

#sidebar{
    position: sticky;
    float: right;    
    width: 200px;
   
}

aside li{
    list-style: none;
    border-bottom: dotted 2px black;
    padding-bottom: 20px;
}