@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import 'nav';
@import 'sidebar';
@import 'footer';

main{
    display: flex; 
    flex-direction: row; 
}
article {
    margin-left:  100px;
    margin-right: 350px;
}

button{
    background-color: orange;
    width: 70px;
    height: 40px;
    color: white;    
}

a{
    font-style: italic;
    color: orange;
    text-decoration: none;
}

