<div class="card-group">
<div class="card" style="width: 200px; height: 400px;">
  <img src="../../assets/film/forrest gump.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Forrest Gump</h5>
    <p class="card-text">Aggiungi questo titolo alla tua lista!</p>
    <a [routerLink]="['/login']" class="btn btn-primary">Add movie</a>
  </div>
</div>

<div class="card" style="width: 200px; height: 400px;">
  <img src="../../assets/film/gladiatore.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Il gladiatore</h5>
    <p class="card-text">Aggiungi questo titolo alla tua lista!</p>
    <a [routerLink]="['/login']" class="btn btn-primary">Add movie</a>
  </div>
</div>

<div class="card" style="width: 200px; height: 400px;">
  <img src="../../assets/film/star wars.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Star Wars</h5>
    <p class="card-text">Aggiungi questo titolo alla tua lista!</p>
    <a [routerLink]="['/login']" class="btn btn-primary">Add movie</a>
  </div>
</div>

<div class="card" style="width: 200px; height: 400px;">
  <img src="../../assets/film/goodfellas.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Goodfellas</h5>
    <p class="card-text">Aggiungi questo titolo alla tua lista!</p>
    <a [routerLink]="['/login']" class="btn btn-primary">Add movie</a>
  </div>
</div>

<div class="card" style="width: 200px; height: 400px;">
  <img src="../../assets/film/holliwood.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">C'era una volta a Hollywood</h5>
    <p class="card-text">Aggiungi questo titolo alla tua lista!</p>
    <a [routerLink]="['/login']" class="btn btn-primary">Add movie</a>
  </div>
</div>

<div class="card" style="width: 200px; height: 400px;">
  <img src="../../assets/film/paura.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Paura e delirio a Las Vegas</h5>
    <p class="card-text">Aggiungi questo titolo alla tua lista!</p>
    <a [routerLink]="['/login']" class="btn btn-primary">Add movie</a>
  </div>
</div>


</div>
