.container{
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
}


.div1{
  text-align: center;
}


button{
  width:100px;
  height:40px;
  background-color: rgb(240, 173, 240);
}

input{
  width:200px;
  height:40px;
}


