.container{
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
}


.div1{
  text-align: center;
}


button{
  width:100px;
  height:40px;
  background-image: linear-gradient(to right top, #616366, #494e50, #343a39, #212623, #11130d);  color: white;
}

input{
  width: 300px;
  height:30px;
}


