<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input name="username"  type="text"  class="form-control" id="exampleInputEmail1"  [(ngModel)]="authUser.email">
    <div id="emailHelp" class="form-text">Inserisci qui la tua email.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="authUser.password">
    <div id="emailHelp" class="form-text">Inserisci qui la tua password.</div>
  </div>
  <button type="submit" class="btn btn-primary" (click)="accesso()">Submit</button>
</form>

<div class="non">
<h3> Non hai ancora un account? <a [routerLink]="['/register']">Registrati</a> per visualizzare la tua lista movie!</h3>
</div>
