<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" href="#"class="nav-link" >Home</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/active']" class="nav-link" >Attivi</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/inactive']" class="nav-link" >Non attivi</a>
      </li>
    </ul>
  </div>
</nav>
