nav{
  display: flex;
  background-image: linear-gradient(to right top, #3f46c0, #343ed1, #2735e1, #1627f0, #000fff);  border-radius:  20%;
  margin: 0 auto;
  justify-content: center;

}

a{
  color: white;
  text-decoration: none;
  font-style: italic;
  line-height: 30px;
  font-size: 1.4rem;
  text-align: center;
}

li{
  list-style: none;
}
